* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-size: 14px;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

h1,
h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
  font-size: 45px;
  letter-spacing: -0.02em;
  line-height: 100%;
}

h3 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 41px;
}

/*--------------------------------------------------------*/
/*-------------------- MOBILE LAYOUT ---------------------*/
/*--------------------------------------------------------*/

.wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
}

/*--------------------------------------------------------*/
/*-------------------- header block ----------------------*/

/*----------------------------- main header */

.main-header-container {
  background-color: #c7ddea;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.nav-back {
  position: absolute;
  bottom: 2em;
  display: flex;
  left: 2em;
  text-decoration: none;
}

.main-header-container h2 {
  margin: 4rem 0 0 2rem;
  max-width: 50%;
}

.img-container {
  bottom: -10px;
  position: absolute;
  right: 2em;
}

/*------------------------------nav */

nav {
  display: none;
}

/*-----------------------------------------------------------*/
/*-------------------- DESKTOP LAYOUT -----------------------*/
/*-----------------------------------------------------------*/

@media screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    max-width: 1000px;
    margin: auto;
  }

  /*---------------------------------------------------------*/
  /*------------------------ header block -------------------*/

  header {
    display: grid;
    grid-template-rows: auto auto;
  }

  /*----------------------------- main header */

  .main-header-container {
    background-color: #c7ddea;
    grid-row: 1;
    height: 48vh;
    display: grid;
    overflow: hidden;
    place-items: center;
    position: relative;
  }

  .nav-back {
    display: none;
  }

  .main-header-container h2 {
    margin: 0;
    max-width: 50%;
  }

  .img-container {
    bottom: -10px;
    position: absolute;
    right: 7em;
  }

  /*------------------------------nav */

  nav {
    display: inline-block;
    grid-row: 2;
    height: 10vh;
  }

  .menu {
    align-items: center;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 100%;
    letter-spacing: -0.02em;
    max-width: 55%;
    justify-content: space-between;
    background-color: #e5e5e5;
    list-style: none;
    margin: auto;
  }

  .menu > a {
    color: #000;
    opacity: 0.4;
    text-decoration: none;
  }

  .menu > a:last-child {
    opacity: 1;
  }

  /*---------------------------------------------------------*/
  /*------------------------ main block ---------------------*/

  main {
    display: grid;
    grid-template-rows: auto 10vh auto;
  }
  /*grid container*/
  .box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4 120px);
    background-color: #a9a19e;
    gap: 1px;
  }

  /*flexbox one*/
  .box-one {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1/4;
  }

  /*flexbox two*/
  .box-two {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin-top: 100px;
  }

  /*text flexbox one*/
  .topic {
    margin-left: 70px;
    margin-top: 100px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  /*---your email box---*/
  input[type='text1'],
  select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 1px 10px 1px;
    border: 1px solid #fefefe;
    background-color: #fefefe;
    border-radius: 4px;
  }

  /*your email--your message text */
  label {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Fira sans';
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
  }

  /*---textarea box--*/
  textarea {
    width: 52%;
    height: 150px;
    margin-top: 10px;
    padding: 18px 16px 18px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: none;
    font-size: 14px;
    font-family: 'Fira Sans';
    line-height: 100%;
    letter-spacing: 0.02em;
  }

  /*...anchor--*/
  .send-message {
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-left: 169px;
    height: 3em;
    text-decoration: none;
    justify-content: center;
    width: 12em;
  }

  /*---------------------------------------------------------*/
  /*----------------------- footer block --------------------*/

  footer {
    background-color: #777574;
    height: 35vh;
  }
}
