* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
  font-size: 45px;
  letter-spacing: -0.02em;
  line-height: 100%;
}

h3 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 41px;
}

/*----------------------------------------------------------*/
/*-------------------- MOBILE LAYOUT -----------------------*/
/*----------------------------------------------------------*/
@media screen and (max-width: 650px) {

.wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
}

/*----------------------------------------------------------*/
/*-------------------- header block ------------------------*/

header {
  display: grid;
  grid-template-rows: auto 45vh 45vh auto;
}

/*------------------- header container one */

.header-container-one {
  background-color: #c7ddea;
  display: flex;
  grid-row: 1;
  flex-direction: column;
  min-height: 650px;
  padding: 3em 4% 0;
  position: relative;
  z-index: 1000;
}

.container-one-text > p {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 2em 0 0;
}

.container-one-text span {
  color: #fff;
}

.join-button {
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-top: 3rem;
  text-decoration: none;
  padding: 15px;
  justify-content: center;
  width: 131px;
}

.container-one-image {
  align-items: flex-end;
  bottom: 0px;
  display: flex;
  position: absolute;
}

.family {
  width: 96%;
}

/*-------------------- header container two */

.header-container-two,
.header-container-three {
  display: grid;
  padding: 15%;
  place-items: center;
  text-align: center;
}

.header-container-two {
  background-color: #f17949;
  grid-row: 2;
}

/*------------------ header container three */

.header-container-three {
  background-color: #fab131;
  grid-row: 3;
}

.cta h3 {
  margin-top: 5px;
}

.cta p {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
}

.cta a {
  color: #fff;
  text-decoration: none;
}

/*---------------------------------nav */

.menu {
  display: none;
}

/*----------------------------------------------------------*/
/*------------------------ main block ----------------------*/

main {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}


.main-container-one {
  background-color: #a9a19e;
  grid-column: 1;
  grid-row: 1;
  height: 612px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
}

.join-buttonmain {
 display:none;
 
}

.main-container-one h2 {
  color: #ffffff;
  margin-top:1em;
}


.main-container-one p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  margin-top:2em;
  width:343px;
  margin-left:3em;
}

.main-container-three {
  grid-row: 3;
  grid-column: 1;
  background-color: #fab131;
  height: 612px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container-three h2 {
  color: #ffffff;
}

.main-container-three p {
  font-family: 'Fira Sans', sans-serif;
  width:278px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2em;
  text-align:center;
}

.main-cardboard {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  background-color: #a9a19e;
}

.main-cardboard div {
  width: 256px;
  height: 308px;
  background-color: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow:visible;
  border-radius:5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position:relative;
  margin-bottom:6em;
}

.main-cardboard div h4 {
  margin-top:8em;
  font-family:'Frank Ruhl Libre', serif;
  font-weight:bold;
  font-size:16px;
  line-height:20px;
  color:rgba(0, 0, 0, 0.9);
}

.main-cardboard div p {
  font-family:'Fira Sans', sans-serif;
  font-weight:bold;
  font-size:11px;
  line-height:18px;
  color:rgba(0, 0, 0, 0.4);
  text-align:center;
  margin-top:1em;
}

.main-cardboard div div {
  background-color: #c7ddea;
  width: 236px;
  height: 150px;
  border-radius: 4px;
  object-fit: contain;
  overflow: hidden;
  position:absolute;
  bottom:8em;
}

#cardboard2 {
  background-color: #fab131;
}

#cardboard3 {
  background-color: #f17949;
  
}

#cardboard3margin {
  margin-bottom:5em;
}

.main-cardboard div div img {
  object-fit: contain;
}

#child {
  position: relative;
  top: 1.5em;
}

#adult {
  position: relative;
  top:1em;
}

#old {
  position: relative;
  top:2em;
}




/*-----main block three grid container-----*/
.main-container-four {
  display: flex;
  grid-row: 5;
  flex-direction: column;
  width: 100%;
}



/*.....main container four numbers....*/
.list {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
  flex-direction: column;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.4);
}
/*.....main block three text.....*/
h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.7);
}
/*...... main block three flexboxes....*/
.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12em;
}

.flex-0 {
  background: #c7ddea;
}

.flex-1 {
  background: #ffffff;
  position: relative;
}

.flex-2 {
  background: #ebebeb;
  position: relative;
}

.flex-3 {
  background: #ffffff;
  position: relative;
}

.flex-4 {
  background: #f17949;
  position: relative;
}
.flex-5 {
  background: #ffffff;
  position: relative;
}



/*----------------------------------------------------------*/
/*------------------------- footer block -------------------*/

footer {
  display: flex;
  grid-row: 4;
  flex-flow: row wrap;
}

.col-4-1 {
  display: none;
  
}
.col-4-2 {
  background: #777574;
  width: 100%;
  height: 30vh;
}

}

/*----------------------------------------------------------*/
/*-------------------- DESKTOP LAYOUT ----------------------*/
/*----------------------------------------------------------*/

@media screen and (min-width: 651px) {

  .wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    max-width: 1000px;
    margin: auto;
  }

  /*--------------------------------------------------------*/
  /*-------------------- header block ----------------------*/

  header {
    display: grid;
    grid-template-rows: repeat(2, minmax(280px, 45vh)) 10vh;
    grid-template-columns: 50% 50%;
  }

  /*------------------- header container one */

  .header-container-one {
    background-color: #c7ddea;
    display: flex;
    grid-column: 1;
    grid-row: 1 / span 2;
    flex-direction: column;
    padding: 5.5em 4% 0;
  }

  .container-one-text {
    margin-left: 4em;
    width: 75%;
    z-index: 1;
  }

  .container-one-text > p {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 2em 0 0;
    max-width: 75%;
  }

  .container-one-text span {
    color: #fff;
  }

  .join-button {
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 3rem;
    text-decoration: none;
    padding: 15px;
    justify-content: center;
    width: 131px;
    box-sizing:border-box;
  }

  a:hover {
    background-color:#d4daed;
  }
  .container-one-image {
    height: 50vh;
    position: relative;
  }

  .family {
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 65%;
    z-index: 0;
  }

  /*-------------------- header container two */

  .header-container-two,
  .header-container-three {
    display: grid;
    padding: 15%;
    place-items: center;
    text-align: center;
  }

  .header-container-two {
    background-color: #f17949;
    grid-column: 2;
    grid-row: 1;
  }

  /*------------------ header container three */

  .header-container-three {
    background-color: #fab131;
    grid-column: 2;
    grid-row: 2;
  }

  .cta h3 {
    margin-top: 5px;
  }

  .cta p {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.02em;
  }

  .cta a {
    color: #fff;
    text-decoration: none;
  }

  /*---------------------------------nav */

  nav {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .menu {
    align-items: center;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 100%;
    letter-spacing: -0.02em;
    max-width: 55%;
    justify-content: space-between;
    background-color: #e5e5e5;
    list-style: none;
    margin: auto;
  }

  .menu > a {
    color: #000;
    opacity: 0.4;
    text-decoration: none;
  }

  .menu > a:first-child {
    opacity: 1;
  }

  /*--------------------------------------------------------*/
  /*------------------------ main block --------------------*/

  main {
    display: grid;
    grid-template-rows: auto auto auto auto;
  }

  .main-container-one {
    background-color: #a9a19e;
    grid-column: 1/ span 2;
    grid-row: 1;
    height: 612px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 8em 0 0 8em;
    
  }

  .join-buttonmain {
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    justify-content: center;
    width: 131px;
    position:absolute;
    top:125em;
    box-sizing:border-box;
  }

  .main-container-one h2 {
    color: #ffffff;
  }


  .main-container-one p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin-right:9em;
    
  }

  .main-container-three {
    grid-row: 2;
    grid-column: 1 / span 2;
    background-color: #fab131;
    height: 612px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container-three h2 {
    color: #ffffff;
  }

  .main-container-three p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 2em;
  }

  .main-cardboard {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .main-cardboard div {
    width: 256px;
    height: 308px;
    background-color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    overflow:visible;
    border-radius:5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position:relative;
    
  }

  .main-cardboard div h4 {
    margin-top:8em;
    font-family:'Frank Ruhl Libre', serif;
    font-weight:bold;
    font-size:16px;
    line-height:20px;
    color:rgba(0, 0, 0, 0.9);
  }

  .main-cardboard div p {
    font-family:'Fira Sans', sans-serif;
    font-weight:bold;
    font-size:11px;
    line-height:18px;
    color:rgba(0, 0, 0, 0.4);
    text-align:center;
    margin-top:1em;
  }

  .main-cardboard div div {
    background-color: #c7ddea;
    width: 236px;
    height: 150px;
    border-radius: 4px;
    object-fit: contain;
    overflow: hidden;
    position:absolute;
    bottom:13em;

  
    
  }

  #cardboard2 {
    background-color: #fab131;
  }

  #cardboard3 {
    background-color: #f17949;
  }

  .main-cardboard div div img {
    object-fit: contain;
  }

  #child {
    position: relative;
    top: 1.5em;
  }

  #adult {
    position: relative;
    top:1em;
  }

  #old {
    position: relative;
    top:2em;
  }

  /*-----main block three grid container-----*/
  .main-container-four {
    display: flex;
    grid-row: 3;
    grid-column: 1 / span 2;
    flex-flow: row wrap;
  }

  .footer-container {
    display: flex;
    grid-row: 4;
    flex-flow: row wrap;
  }

  /*.....main container four numbers....*/
  .list {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    flex-direction: column;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.4);
  }
  /*.....main block three text.....*/
  h4 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.7);
  }
  /*...... main block three flexboxes....*/
  .container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 340px;
  }

  .flex-0 {
    background: #c7ddea;
  }

  .flex-1 {
    background: #ffffff;
    position: relative;
  }

  .flex-2 {
    background: #ebebeb;
    position: relative;
  }

  .flex-3 {
    background: #ffffff;
    position: relative;
  }

  .flex-4 {
    background: #f17949;
    position: relative;
  }
  .flex-5 {
    background: #ffffff;
    position: relative;
  }

/*----------------------------------------------------------*/
/*------------------------- footer block -------------------*/
  
  .col-4-1 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 56px;
    padding-top: 12px;
    background: #a9a19e;
    align-items: center;
    text-decoration: none;
  }
  .col-4-2 {
    background: #777574;
    width: 100%;
    height: 340px;
  }
}