* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-size: 14px;
}

h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
  font-size: 45px;
  letter-spacing: -0.02em;
  line-height: 100%;
}

h3 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 41px;
}

/*----------------------------------------------------------*/
/*-------------------- MOBILE LAYOUT -----------------------*/
/*----------------------------------------------------------*/

.wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
}

/*----------------------------------------------------------*/
/*-------------------- header block ------------------------*/

header {
  display: grid;
  grid-template-rows: auto 43vh 43vh auto;
}

/*------------------- header container one */

.header-container-one {
  background-color: #c7ddea;
  display: flex;
  grid-column: 1;
  grid-row: 1 / span 2;
  flex-direction: column;
  padding: 5.5em 4% 0;
}

.container-one-text {
  margin-left: 4em;
  width: 75%;
  z-index: 1;
}

.container-one-text > p {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 2em 0 0;
  max-width: 75%;
}

.container-one-text span {
  color: #fff;
}

.join-button {
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-top: 3rem;
  height: 1em;
  text-decoration: none;
  justify-content: center;
  width: 12em;
}

.container-one-image {
  height: 50vh;
  position: relative;
}

.family {
  bottom: 0px;
  right: 0px;
  position: absolute;
  width: 65%;
  z-index: 0;
}

/*-------------------- header container two */

.header-container-two,
.header-container-three {
  display: grid;
  padding: 15%;
  place-items: center;
  text-align: center;
}

.header-container-two {
  background-color: #f17949;
  grid-column: 2;
  grid-row: 1;
}

/*------------------ header container three */

.header-container-three {
  background-color: #fab131;
  grid-column: 2;
  grid-row: 2;
}

.cta h3 {
  margin-top: 5px;
}

.cta p {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
}

.cta a {
  color: #fff;
  text-decoration: none;
}

/*---------------------------------nav */

nav {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.menu {
  align-items: center;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  letter-spacing: -0.02em;
  max-width: 55%;
  justify-content: space-between;
  background-color: #e5e5e5;
  list-style: none;
  margin: auto;
}

.menu > a {
  color: #000;
  opacity: 0.4;
  text-decoration: none;
}

.menu > a:first-child {
  opacity: 1;
}

/*------------------- header container one */

.header-container-one {
  background-color: #c7ddea;
  display: flex;
  grid-row: 1;
  flex-direction: column;
  padding: 3em 4% 0;
}

.container-one-text > p {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 2em 0 0;
}

.container-one-text span {
  color: #fff;
}

.join-button {
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-top: 3rem;
  text-decoration: none;
  padding: 15px;
  justify-content: center;
  width: 131px;
}

.container-one-image {
  height: 50vh;
  position: relative;
}

.family {
  max-width: 400px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

/*-------------------- header container two */

.header-container-two,
.header-container-three {
  display: grid;
  padding: 15%;
  place-items: center;
  text-align: center;
}

.header-container-two {
  background-color: #f17949;
  grid-row: 2;
}

/*------------------ header container three */

.header-container-three {
  background-color: #fab131;
  grid-row: 3;
}

.cta h3 {
  margin-top: 5px;
}

.cta p {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
}

.cta a {
  color: #fff;
  text-decoration: none;
}

/*---------------------------------nav */

.menu {
  display: none;
}

/*----------------------------------------------------------*/
/*------------------------ main block ----------------------*/

main {
  display: grid;
  grid-template-rows: auto auto auto;
}

/*----------------------------------------------------------*/
/*------------------------- footer block -------------------*/

footer {
  background-color: #777574;
}

/*----------------------------------------------------------*/
/*-------------------- DESKTOP LAYOUT ----------------------*/
/*----------------------------------------------------------*/

@media screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    max-width: 1000px;
    margin: auto;
  }

  /*--------------------------------------------------------*/
  /*-------------------- header block ----------------------*/

  header {
    display: grid;
    grid-template-rows: 45vh 45vh 10vh;
    grid-template-columns: 50% 50%;
  }

  /*------------------- header container one */

  .header-container-one {
    background-color: #c7ddea;
    display: flex;
    grid-column: 1;
    grid-row: 1 / span 2;
    flex-direction: column;
    padding: 5.5em 4% 0;
  }

  .container-one-text {
    margin-left: 4em;
    width: 75%;
    z-index: 1;
  }

  .container-one-text > p {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 2em 0 0;
    max-width: 75%;
  }

  .container-one-text span {
    color: #fff;
  }

  .join-button {
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 3rem;
    height: 1em;
    text-decoration: none;
    justify-content: center;
    width: 12em;
  }

  .container-one-image {
    height: 50vh;
    position: relative;
  }

  .family {
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 65%;
    z-index: 0;
  }

  /*-------------------- header container two */

  .header-container-two,
  .header-container-three {
    display: grid;
    padding: 15%;
    place-items: center;
    text-align: center;
  }

  .header-container-two {
    background-color: #f17949;
    grid-column: 2;
    grid-row: 1;
  }

  /*------------------ header container three */

  .header-container-three {
    background-color: #fab131;
    grid-column: 2;
    grid-row: 2;
  }

  .cta h3 {
    margin-top: 5px;
  }

  .cta p {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.02em;
  }

  .cta a {
    color: #fff;
    text-decoration: none;
  }

  /*---------------------------------nav */

  nav {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .menu {
    align-items: center;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 100%;
    letter-spacing: -0.02em;
    max-width: 55%;
    justify-content: space-between;
    background-color: #e5e5e5;
    list-style: none;
    margin: auto;
  }

  .menu > a {
    color: #000;
    opacity: 0.4;
    text-decoration: none;
  }

  .menu > a:first-child {
    opacity: 1;
  }

  /*--------------------------------------------------------*/
  /*------------------------ main block --------------------*/

  main {
    display: grid;
    grid-template-rows: auto auto auto;
  }

  /*--------------------------------------------------------*/
  /*-------------------- footer block ----------------------*/

  footer {
    height: 24vh;
  }
}
